<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/teastyle.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Sarabun:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/public/teaimg/t13.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>India’s most affordable tea franchise</h1>
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="/public/teaimg/t8.jpg" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">
              <h1>Crafted from premium quality ingredients</h1>
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="/public/teaimg/i4.jpg" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">
              <h1>Solar run-portable carts</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/public/teaimg/i1.jpg" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">
              <h1>Utmost hygiene and Eco-friendly cups</h1>
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <section id="head">
          <div class="header">
              <div class="row">
                  <div class="col-lg-5">
                  <img src="/public/teaimg/t7.jpg" alt="" width="100%">
                  </div>
                  <div class="col-lg-6">
                      <h1>Cuteaing - meri wali chai</h1>
                      <p>A unit of Tahama Beverages and Food Pvt. Ltd. serving a variety of flavorful tea prepared from moist heat in the appropriate hygienic environment. </p>


                  </div>
              </div>
          </div>
      </section>

      <section id="sub">
        <div class="subheader">
            <div class="row">
                <div class="col-lg-6">
               <h1>Tasty and Healthy	</h1>
               <p>Beverages are brewed with fresh ingredients on a solar run-portable cart, and served in biodegradable cups(Kulladhs).</p>
               </div>
                <div class="col-lg-5">
                    <img src="/public/teaimg/i7.jpg" alt="" width="100%">
                   

                </div>
               
            </div>
        </div>
    </section>

    <section id="menu">
        <div class="menuu">
            <h1>Explore Our Menu</h1>
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        <li><i class="fas fa-coffee"></i> Tea Coffee</li>
                        
                        <li><i class="fas fa-coffee"></i> Masala Tea</li>
                       	
                       <li> <i class="fas fa-coffee"></i> Kesar Elaichi Tea</li>
                       	
                       <li> <i class="fas fa-coffee"></i> Tulsi Ginger Tea</li>
                       
                      <li>  <i class="fas fa-coffee"></i> Black Tea</li>
                        
                        <li><i class="fas fa-coffee"></i> Green Tea</li>
                        
                        <li><i class="fas fa-coffee"></i> Lemon Tea</li>
                        <li><i class="fas fa-coffee"></i> Cardamom Tea	</li>
                       <li> <i class="fas fa-coffee"></i> Black Tea</li>
                        
                        <li><i class="fas fa-coffee"></i> Paan Tea	</li>
                        <li><i class="fas fa-coffee"></i> Butter Scotch Tea	</li>
                        
                        
                        

                        



                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><i class="fas fa-coffee"></i> Coffee</li>
                        <li><i class="fas fa-coffee"></i> Plain Coffee	</li>
                        <li><i class="fas fa-coffee"></i> Chocolate coffee	</li>
                        <li><i class="fas fa-coffee"></i> Vanilla Coffee</li>
                        <li><i class="fas fa-coffee"></i> Butterscotch Coffee</li>
                       
                        
                        

                        



                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><i class="fas fa-coffee"></i> Milk</li>
                        <li><i class="fas fa-coffee"></i> Hot Milk	</li>
                        <li><i class="fas fa-coffee"></i> Chocolate Milk	</li>
                        <li><i class="fas fa-coffee"></i> Kesar Milk</li>
                        
                       
                        
                        

                        



                    </ul>
                </div>
            </div>
        </div>
    </section>
           
    <section id="fran">
        <div class="franchise">
            <h1>Franchisees Invited</h1>
            <p>Multiple Franchise Formats | Incredible Returns on Investment | Extensive Franchisor Support</p>
            <button type="button" class="btn btn-primary btn-lg">Enquire Now</button>

        </div>
    </section>
    <section id="footer">
        <div class="end">
            <div class="row">
            <div class="col-lg-5">
                <h3>Cuteaing Brew Pvt Ltd.</h3>
                <p>102, Vyshnavi Landmark, All Saints Road,</p>
                
                  <p>  Bowenpally, Secunderabad – 500 009</p>
                  <br>
                  <p>Toll-free Number: 9999 888 77 666</p>
                  <span >
                  <i class="fab fa-facebook fa-2x"></i>
                      <i class="fab fa-instagram fa-2x"></i>
                      <i class="fab fa-twitter-square fa-2x"></i>
                      <i class="fab fa-linkedin fa-2x"></i>
                      </span>
            </div>
            <div class="col-lg-6">
                <div class="forms">
                    <form action="/" method="POST">
                      <h5>CONTACT INFORMATION</h5>
                     <p><input type="text" name="name" placeholder="your name"></p>
                     
                     
                     <p> <input type="email" name="email" id="email" placeholder="your email"></p>
                    <p><textarea cols="25" rows="2" name="message" placeholder="your message"></textarea></p>
                     
                     <p><input type="number" name="pincode" id="number" placeholder="Pincode"></p>
                 <input type="submit" value="Submit">
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>